body { margin: 0px; }
* { box-sizing: border-box; }


::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color:  #221F25;
}

::-webkit-scrollbar
{
    border-radius: 10px;
    width: 7px;
    background-color:  #221F25; 
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #6E57E0;
    margin-left: 2em;
}